*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
li a {
    text-decoration: none;
    color: #c3a6a0;
    transition: all 0.3s ease;
    font-weight: 600;
}
li a:hover{
    color: #a15c38;
    text-underline-offset: 10px;
    text-decoration: underline 2px;
    text-decoration-color: #a15c38;
}
.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 100px;
}
.navlogo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color: #a15c38;
}
.menu-bar{
    display: flex;
    width: 60%;
    list-style: none;
    justify-content: space-around;
}
.section{
    display: flex;
    height: 70vh;
    align-items: center;
    gap: 60px;
}
.img{
    margin-left: 100px;
    transition: all 0.3s ease;
}
.img:hover{
    transform: scale(1.1);
}
.img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hello{
    font-weight: 600;
}
h1{
    font-size: 40px;
    color: #a15c38;
}
.frontend{
    font-weight: 600;
    font-size: 20px;
    color: #a15c38;
}
button a{
    color: white;
    background-color: black;
}
button a:hover{
    background-color: white;
    color: black;
}
p{
    width: 90%;
    font-size: 18px;
    line-height: 1.6rem;
}

.btnall{
    display: flex;
    gap: 20px;
}
.btn-btn1, .btn-btn2{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 13px 20px;
    width: 8rem;
    border-radius: 2rem;
}
.btn-btn1{
    background-color: white;
    color: #a15c38;
    width: 9rem;
    border: 1px solid #a15c38;
}
.btn-btn1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid black;
     cursor: pointer;
}
.btn-btn2{
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn-btn2:hover{
    background-color: white;
    color: #a15c38;
    border: 1px solid #a15c38;
     cursor: pointer;
}
.social-icons{
    display: flex;  
  }
.social-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
}
.social-icon:hover{
    transform: scale(1.2);
}
.get{
    text-align: center;
    font-size: 15px;
    margin-left: 4rem;
    color: #536972;
}
.about{
    text-align: center;
    line-height: 90px;
    margin-bottom: 3rem;
}
.img1{
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
    border-radius: 40px;
}
.container{
     display: flex;
     gap: 30px;
     justify-content: center;
}
.details-container{
    display: flex;
    gap: 20px;
}
.text-container{
    position:absolute;
    bottom: -20rem;
    line-height: 1.9rem;
}
.p-experience{
    text-align: center;
    padding-left: 2rem;
}
.rank{
    height: 40px;
    width: 80px;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}
.edu{
    height: 25px;
    width: 30px;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}
.experience h3{
    font-weight: 700;
    margin-bottom: 1rem;
    color: #a15c38;
}
.experience{
    height: 170px;
    width:300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    padding-top: .5rem;
}
.education h3{
    font-weight: 700;
    margin-bottom: 1rem;
    padding-top: 0.1rem;
    color: #a15c38;
}
.p-exp{
    padding-left: 1.5rem;
}
.p-edu{
    padding-left: 1.5rem;
}
.education{
    height: 170px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    padding-top: 0.8rem;
    padding-left: 1rem;
}
.explore{
    text-align: center;
    font-size: 15px;
    margin-left: 4rem;
    color: #536972;
    margin-top: 50px;
}
.h1-experiences{
    text-align: center;
    line-height: 100px;
}
.skills-container{
    display: flex;
    margin-bottom: 5rem;
    gap: 2rem;
    justify-content: center;
    margin-top: 50px;
}
.skills1-container{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;    
    border-radius: 30px;
    padding: 5px;
    margin-top: 1rem;
}
.skills2-container{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;    
    border-radius: 30px;
    padding: 5px;
    margin-top: 1rem;
   
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 5px 10px;
}
.articale1-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}
.articale2-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}
.h2-skills{
    text-align: center;
     margin-bottom: 2rem;
     color: #a15c38;
}
.experience-box1{
    border: 1px solid black;
    border-radius: 20px;
}
.experience-box2{
    border: 1px solid black;
    border-radius: 20px;
}
h3{
    font-weight: 700;
}
.div-p{
    font-size: smaller;
}
.three{
    display: flex;
    gap: 50px;
    margin-left: 10rem;
}
.project1 .hotel{
     transition: all 0.3s ease;
}
.project1 .hotel:hover{
    transform: scale(1.1);
}
.p-projects{
    text-align: center;
    font-size: 15px;
    margin-left: 4rem;
    color: #536972;
    margin-bottom: 30px;
}
.h1-projects{
    text-align: center;
    margin-bottom: 3rem;
}
.project-1{
    width: 300px;
    height: 340px;
    border: 1px solid black;
    border-radius: 20px;
}
img{
    height: 200px;
    width: 260px;
    object-fit: cover;
    margin: 20px;
}
.hot{
    transition: all 0.3s ease;
    border-radius: 20px;
}
.hot:hover{
    transform: scale(1.1);
}
.project-name{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.btn-1{
    padding: 7px 14px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}
.btn-2{
    padding: 7px 14px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-2:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.project-2{
    width: 300px;
    height: 340px;
    border: 1px solid black;
    border-radius: 20px;
}
.food{
   height: 200px;
    width: 250px;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.food:hover{
    transform: scale(1.1);
}
.project-3{
    width: 300px;
    height: 340px;
    border: 1px solid black;
    border-radius: 20px;
}
.car{
    height: 200px;
    width: 250px;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.car:hover{
    transform: scale(1.1);
}
.get-in{
    text-align: center;
    font-size: 15px;
    margin-left: 4rem;
    color: #536972;
    margin-top: 50px;
    margin-bottom: 2rem;
}
.contact-me{
    text-align: center;
    margin-bottom: 3rem;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 70vh;
}
.input{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 10rem;
}
.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.mail,p{
    font-size: large;
}
.mail,i{
    cursor: pointer;;
}
.mail,a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    color: black;
}
.linkedin,i{
    cursor: pointer;;
}
.linkedin,p{
    font-size: large;
}
.footer .menu-bar{
    gap: 3rem;
    margin-bottom: 3rem;
    
}
.footer .menu-bar li a{
font-weight: 100;
    font-size: medium;
}
footer p{
    font-size: medium;
    margin-left: 2rem;
    font-weight: 100 ;
}